$black: black;
$blue: blue;
$coral: coral;
$green: green;
$dark-green: #005900;
$grey: grey;
$lime: #00b377;
$red: red;
$silver: silver;
$white: white;
$yellow: yellow;
$brown: brown;

/* Responsive values */
$responsive-max-width: 1110px;
$big-screen-content-width: 750px;
$big-screen-content-height: 650px;
$low-screen-content-width: 350px;
$low-screen-content-height: 550px;
