<ng-container *ngIf="weatherData && forecastData">
  <div class="weather-search">
    <div class="general-information {{this.theme}}__background-image">
      <div></div>
      <div class="general-info">
        <div class="day">
          <span class="current-day">{{ ('weather-app.days.' + (date | date: 'EEEE' | lowercase)) | translate }}</span>
          <span class="image">
            <img src="{{this.favoritesCity[toNormalForm(this.cityName)] ? favoriteIconsPath[0] : favoriteIconsPath[1]}}"
                 alt="Favorite" (click)="addToFavorite()">
          </span>
        </div>
        <div class="date">
          <span class="current-date">{{date | date: 'mediumDate'}}</span>
          <div class="location">
            <img src="assets/images/location-pin.png" alt="pin" width="20px" height="20px" class="pin-image">
            <span class="info-location">{{weatherData.name}}, {{weatherData.sys.country}}</span>
          </div>
        </div>
      </div>
      <div></div>
      <div class="weather-icon">
        <img src="https://openweathermap.org/img/wn/{{weatherData.weather[0].icon}}@2x.png" alt="icon"/>
      </div>
      <div class="weather-info">
        <div class="weather">
          <span class="temperature">{{beautifyTemp(weatherData.main.temp)}} °C</span>
          <span class="details">{{weatherData.weather[0].description}}</span>
        </div>
      </div>
    </div>
    <div class="more-information {{this.theme}}__weather-content">
      <div class="rain-information">
        <div></div>
        <div class="information">
          <span class="pressure title-text">{{'weather-app.pressure' | translate}}</span>
          <span class="humidity title-text">{{'weather-app.humidity' | translate}}</span>
          <span class="wind title-text">{{'weather-app.wind' | translate}}</span>
          <span class="pressure-value right-text">{{weatherData.main.pressure}}hPa</span>
          <span class="humidity-value right-text">{{weatherData.main.humidity}}%</span>
          <span class="wind-value right-text">{{weatherData.wind.speed}}km/h</span>
        </div>
        <div></div>
      </div>
      <div class="forecast-information">
        <div *ngFor="let forecast of showForecastList; let day = index" class="forecast">
          <div class="forecast-icon">
            <img src="https://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png" alt="icon"
                 class="image-{{numOfDays}}"/>
          </div>
          <span class="forecast-day">{{('weather-app.days-short.' + (this.forecastDateList[day] | date: 'EEE' | lowercase)) | translate}}</span>
          <span class="forecast-temp">{{beautifyTemp(forecast.main.temp)}} °C</span>
        </div>
      </div>
      <div class="footer">
        <div class="title">
          {{ this.numOfDays === 1 ? ('weather-app.show-forecast-singular' | translate) : ('weather-app.show-forecast-plural' | translate: {days: this.numOfDays}) }}
        </div>
        <div class="set-forecast">
          <mat-slider [thumbLabel]="false"
                      [value]="this.numOfDays" (input)="onSliderChange($event)"
                      step="1" min="1" max="7" aria-label="units"></mat-slider>
        </div>
        <div class="set-favorite">
          <span class="title">{{'weather-app.like-this-city' | translate}}</span>
          <span class="sub-title">{{'weather-app.how-to-like' | translate}}</span>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!weatherData && !forecastData">
  <app-loading></app-loading>
</ng-container>
