@use '@angular/material' as mat;
@use '../../shared/styles/variables' as variables;

.weather-search {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 40% 60%;
  word-break: break-word;
  color: variables.$white;

  .general-information {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    grid-template-rows: 5% 25% 35% 15% auto;
    @include mat.elevation(24);

    border: {
      bottom-left-radius: 2%;
    };

    .general-info {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 0.5rem;

      .day {
        display: grid;
        grid-template-columns: 60% 40%;

        .current-day {
          display: grid;
          align-items: end;
          color: variables.$white;
          font-size: 2rem;
          line-height: 2rem;
          @media only screen and (max-width: variables.$responsive-max-width) {
            font-size: 1.2rem;
            line-height: 1.2rem;
          }
          font-weight: bold;
        }

        .image {
          margin-right: 0.5rem;
          text-align: right;

          img {
            width: 25px;
            height: 25px;
          }

          img:hover {
            cursor: pointer;
          }
        }
      }

      .date {
        display: grid;
        grid-template-rows: 40% 60%;
        color: variables.$white;
        grid-gap: 0.5rem;

        .location {
          display: grid;
          align-content: center;
          align-items: center;
          grid-template-columns: 8% 50% auto;
          @media only screen and (max-width: variables.$responsive-max-width) {
            grid-template-columns: 20% 80%;
          }

          .current-date {
            font-size: 0.8rem;
            line-height: 0.8rem;
          }

          .info-location {
            font-size: 0.8rem;
            line-height: 0.8rem;
          }
        }

        .pin-image {
          width: 20px;
          height: 20px;
        }
      }
    }

    .weather-icon {
      & > img {
        width: fit-content;
        height: fit-content;
      }
    }

    .weather-info {
      display: grid;
      align-items: start;
      @media only screen and (max-width: variables.$responsive-max-width) {
        align-items: center;
      }
      padding-left: 1rem;

      .weather {
        display: grid;
        grid-gap: 0.5rem;

        .temperature {
          font-size: 1.75rem;
          font-weight: bold;
          @media only screen and (max-width: variables.$responsive-max-width) {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }

        .details {
          font-size: 1.1rem;
        }
      }
    }
  }

  .more-information {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 25% 30% 40% 5%;
    border: {
      bottom-right-radius: 2%;
    };

    .rain-information {
      display: grid;
      width: 100%;
      height: 100%;
      padding: 1rem;
      grid-template-rows: 10% 80% 10%;

      .information {
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 60% 5% 35%;
        grid-gap: 0.2rem;
        @media only screen and (max-width: variables.$responsive-max-width) {
          grid-gap: 0;
        }

        .pressure {
          display: grid;
          grid-row: 1;
          grid-column: 1;
        }

        .humidity {
          display: grid;
          grid-row: 2;
          grid-column: 1;
        }

        .wind {
          display: grid;
          grid-row: 3;
          grid-column: 1;
        }

        .pressure-value {
          display: grid;
          grid-row: 1;
          grid-column: 3;
        }

        .humidity-value {
          display: grid;
          grid-row: 2;
          grid-column: 3;
        }

        .wind-value {
          display: grid;
          grid-row: 3;
          grid-column: 3;
        }

        .title-text {
          font-size: 1.3rem;
          font-weight: bold;
          @media only screen and (max-width: variables.$responsive-max-width) {
            font-size: 0.8rem;
            font-weight: normal;
          }
        }

        .right-text {
          font-size: 1rem;
          text-align: right;
          @media only screen and (max-width: variables.$responsive-max-width) {
            font-size: 0.8rem;
          }
        }
      }
    }

    .forecast-information {
      display: flex;
      padding: 0.5rem;
      gap: 0.5rem;
      flex-direction: row;

      .forecast {
        display: grid;
        border: 1px solid black;
        border-radius: 10%;
        width: 100%;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr;

        .forecast-icon {
          display: grid;
          place-items: center;

          .image-1 {
            width: 75px;
            height: 75px;
            @media only screen and (max-width: variables.$responsive-max-width) {
              width: 74px;
              height: 59px;
            }
          }

          .image-2 {
            width: 50px;
            height: 50px;
            @media only screen and (max-width: variables.$responsive-max-width) {
              width: 50px;
              height: 35px;
            }
          }

          .image-3 {
            width: 50px;
            height: 50px;
            @media only screen and (max-width: variables.$responsive-max-width) {
              width: 45px;
              height: 30px;
            }
          }

          .image-4 {
            width: 50px;
            height: 50px;
            @media only screen and (max-width: variables.$responsive-max-width) {
              width: 40px;
              height: 25px;
            }
          }

          .image-5 {
            width: 50px;
            height: 50px;
            @media only screen and (max-width: variables.$responsive-max-width) {
              width: 20px;
              height: 10px;
            }
          }

          .image-6 {
            width: 50px;
            height: 50px;
            @media only screen and (max-width: variables.$responsive-max-width) {
              width: 10px;
              height: 10px;
            }
          }

          .image-7 {
            width: 50px;
            height: 50px;
            @media only screen and (max-width: variables.$responsive-max-width) {
              width: 50%;
              height: 50%;
            }
          }
        }

        .forecast-day {
          font-size: 0.8rem;
        }

        .forecast-temp {
          font-size: 1.2rem;
          font-weight: bold;
          @media only screen and (max-width: variables.$responsive-max-width) {
            font-size: 0.8rem;
          }
        }

        span {
          display: grid;
          text-align: center;
          align-items: center;
          align-content: center;
        }
      }
    }

    .footer {
      display: grid;
      padding: 1rem;
      width: 100%;
      height: 100%;
      border: {
        bottom-right-radius: 2%;
      };
      grid-template-rows: 10% 60% 30%;

      .title {
        font-size: 1.5rem;
        font-weight: bold;
        @media only screen and (max-width: variables.$responsive-max-width) {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }

      .set-forecast {
        display: grid;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
      }

      .set-favorite {
        display: grid;
        grid-gap: 0.2rem;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
      }
    }
  }

  .rain {
    &__background-image {
      @include variables.rain-weather-content-image();
    }

    &__weather-content {
      @include variables.rain-weather-content();
    }
  }

  .thunderstorm {
    &__background-image {
      @include variables.thunderstorm-weather-content-image();
    }

    &__weather-content {
      @include variables.thunderstorm-weather-content();
    }
  }

  .snow {
    &__background-image {
      @include variables.snow-weather-content-image();
    }

    &__weather-content {
      @include variables.snow-weather-content();
    }
  }

  .mist {
    &__background-image {
      @include variables.mist-weather-content-image();
    }

    &__weather-content {
      @include variables.mist-weather-content();
    }
  }

  .dust {
    &__background-image {
      @include variables.dust-weather-content-image();
    }

    &__weather-content {
      @include variables.dust-weather-content();
    }
  }

  .clouds {
    &__background-image {
      @include variables.clouds-weather-content-image();
    }

    &__weather-content {
      @include variables.clouds-weather-content();
    }
  }

  .tornado {
    &__background-image {
      @include variables.tornado-weather-content-image();
    }

    &__weather-content {
      @include variables.tornado-weather-content();
    }
  }

  .clear {
    &__background-image {
      @include variables.clear-weather-content-image();
    }

    &__weather-content {
      @include variables.clear-weather-content();
    }
  }
}
