@use '@angular/material' as mat;
@use '../../shared/styles/variables' as variables;

.weather-search {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 40% 60%;
  word-break: break-word;
  color: white;

  .general-information {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    grid-template-rows: 5% 25% 15% 15% 25% 10% 5%;
    background-color: blue;
    border: {
      bottom-left-radius: 2%;
    };

    .general-info {
      display: grid;
      grid-template-rows: repeat(3, 1fr);

      .day {
        color: black;
      }

      .date {
        color: black;
      }

      .location {
        display: grid;
        grid-template-columns: 10% 50% auto;
      }
    }
  }

  .more-information {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 25% 30% 40% 5%;
    background-color: #005900;
    border: {
      bottom-right-radius: 2%;
    };

    .rain-information {
      display: grid;
      width: 100%;
      height: 100%;
      padding: 1rem;
      grid-template-rows: 10% 80% 10%;
      background-color: rgb(104, 51, 161);

      .information {
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 50% 5% 45%;
        grid-gap: 0.2rem;
        @media only screen and (max-width: variables.$responsive-max-width) {
          grid-gap: 0;
        }

        .precipitation {
          display: grid;
          grid-row: 1;
          grid-column: 1;
        }

        .humidity {
          display: grid;
          grid-row: 2;
          grid-column: 1;
        }

        .wind {
          display: grid;
          grid-row: 3;
          grid-column: 1;
        }

        .precipitation-value {
          display: grid;
          grid-row: 1;
          grid-column: 3;
        }

        .humidity-value {
          display: grid;
          grid-row: 2;
          grid-column: 3;
        }

        .wind-value {
          display: grid;
          grid-row: 3;
          grid-column: 3;
        }

        .title-text {
          font-size: 1.3rem;
          font-weight: bold;
          @media only screen and (max-width: variables.$responsive-max-width) {
            font-size: 0.8rem;
            font-weight: normal;
          }
        }

        .right-text {
          font-size: 1rem;
          text-align: right;
          @media only screen and (max-width: variables.$responsive-max-width) {
            font-size: 0.8rem;
          }
        }
      }
    }

    .forecast-information {
      display: flex;
      padding: 0.5rem;
      gap: 0.5rem;
      flex-direction: row;
      background-color: rgb(42, 22, 63);

      .forecast {
        display: grid;
        border: 1px solid black;
        background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 80%);
        border-radius: 15%;
        width: 100%;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr;

        span {
          display: grid;
          text-align: center;
          align-items: center;
          align-content: center;
        }
      }
    }

    .footer {
      display: grid;
      padding: 1rem;
      width: 100%;
      height: 100%;
      background-color: rgb(98, 1, 1);
      border: {
        bottom-right-radius: 2%;
      };
      grid-template-rows: 10% 60% 30%;

      .title {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .set-forecast {
        display: grid;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
      }

      .set-favorite {
        display: grid;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
      }
    }
  }
}
