@use '@angular/material' as mat;
@use '../../shared/styles/variables' as variables;

.favorites {
  display: grid;
  padding: 2rem;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  width: variables.$big-screen-content-width;
  height: variables.$big-screen-content-height;
  @media only screen and (max-width: variables.$responsive-max-width) {
    width: variables.$low-screen-content-width;
    height: variables.$low-screen-content-height;
  }
  grid-template-rows: 15% auto;
  @include mat.elevation(2);
  border-radius: 2%;

  .info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;

    .title {
      font-size: 2rem;
      font-weight: bold;
    }

    .subtitle {
      font-size: 1rem;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;

    .item {
      display: flex;
      width: 220px;
      height: 165px;
      border: 1px solid black;
      border-radius: 2%;
      //background-color: blue;
      @include mat.elevation(2);

      .city {
        display: grid;
        padding: 1rem;
        align-items: center;
        grid-template-rows: 60% 20% 20%;
        color: white;

      }

      .temperature {
        font-size: 1.75rem;
        font-weight: bold;
        @media only screen and (max-width: variables.$responsive-max-width) {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }

      .city-name {
        font-size: 1rem;
      }

      .city-name:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}
