<div class="app">
  <div class="nav-bar night__navbar">
    <div class="buttons">
      <span>Weather</span>
      <span>Favorites</span>
      <span></span>
      <span>RO/EN</span>
      <span>Themes</span>
    </div>
  </div>
  <div class="content night__content">
    <div class="weather">
      <ng-container *ngIf="currentViewState === viewStates.HOME">
        <div class="search">
          <input type="text" placeholder="Insert a City name" value="{{this.city}}" [(ngModel)]="inputText">
          <button (click)="search()">Search</button>
        </div>
        <ng-container *ngIf="this.viewWeatherByCity">
          <app-weather-search [weatherModel]="this.myWeather"></app-weather-search>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="footer night__content">
    <span class="info">Nițu Robert - Summer Internship Accesa & RaRo 2023 | <a href="https://github.com/robertnitu02/accesa-raro-internship-2023" target="_blank">GitHub</a></span>
  </div>
</div>
