<div class="app">
  <div class="nav-bar night__navbar">
    <div class="buttons">
      <span>Weather</span>
      <span>Favorites</span>
      <span></span>
      <span>RO/EN</span>
      <span>Themes</span>
    </div>
  </div>
  <div class="content night__content">
    <div class="weather">

    </div>
  </div>
  <div class="footer night__content">
    <span class="info">Nițu Robert - Summer Internship Accesa & RaRo 2023 | <a href="https://github.com/robertnitu02/accesa-raro-internship-2023" target="_blank">GitHub</a></span>
  </div>
</div>
