<div class="app">
  <div class="nav-bar night__navbar">
    <div class="buttons">
      <span>Weather</span>
      <span>Favorites</span>
      <span></span>
      <span>RO/EN</span>
      <span>Themes</span>
    </div>
  </div>
  <div class="content night__content">
    <div class="weather">
      <ng-container *ngIf="currentViewState === viewStates.HOME">
        <div class="search">
          <input class="input" type="text" placeholder="Insert City Name" [(ngModel)]="inputText">
          <button (click)="sendWeatherData()">Show Weather</button>
        </div>
        <ng-container *ngIf="this.showWeather">
          <app-weather-search [weatherModel]="this.weatherData" [forecastModel]="this.weatherForecastData"></app-weather-search>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="footer night__content">
    <span class="info">Nițu Robert - Accesa & RaRo Summer Internship 2023 | <a href="https://github.com/robertnitu02/accesa-raro-internship-2023" target="_blank">GitHub</a></span>
  </div>
</div>
