@use '@angular/material' as mat;
@use '../shared/styles/variables' as variables;

.app {
  display: grid;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  grid-template-rows: 8% 88% 4%;

  .nav-bar {
    .buttons {
      display: grid;
      grid-template-columns: 8% 8% 79% 5%;
      @media only screen and (max-width: variables.$responsive-max-width) {
        grid-template-columns: 25% 25% 35% 15%;
      }
      width: 100%;
      height: 100%;
      place-items: center;

      .active {
        border-bottom: 2px solid grey;
      }

      span {
        display: grid;
        color: variables.$white;
        text-align: center;
        place-items: center;
        height: 100%;
        width: 100%;
      }

      .clickable:hover {
        cursor: pointer;
      }

      .language-image {
        width: 35px;
        height: 35px;
      }
    }

    .interact {
      display: grid;
      align-items: center;
      text-align: center;
    }
  }

  .content {
    display: grid;
    place-items: center;

    .weather {
      display: grid;
      width: variables.$big-screen-content-width;
      height: variables.$big-screen-content-height;
      @media only screen and (max-width: variables.$responsive-max-width) {
        width: variables.$low-screen-content-width;
        height: variables.$low-screen-content-height;
      }
      grid-template-rows: 15% auto;
      @include mat.elevation(2);

      .search {
        display: grid;
        grid-row-gap: 0.5rem;
        align-content: center;
        place-items: center;
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;

        .input {
          display: block;
          border: 0;
          margin: 0;
          padding: 8px 16px;
          line-height: 25px;
          font-size: 14px;
          font-weight: 500;
          font-family: inherit;
          border-radius: 6px;
        }

        .button {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 6px 14px;
          border-radius: 6px;
          color: variables.$kind-of-grey;
          background: #fff;
          border: none;
          box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }

        .button:hover {
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    text-align: center;

    .info {
      color: variables.$white;
      font-size: 0.7rem;
    }
  }

  .rain {
    &__navbar {
      @include variables.rain-navbar();
    }

    &__content {
      @include variables.rain-content();
    }

    &__footer {
      @include variables.rain-content();
    }
  }

  .thunderstorm {
    &__navbar {
      @include variables.thunderstorm-navbar();
    }

    &__content {
      @include variables.thunderstorm-content();
    }

    &__footer {
      @include variables.thunderstorm-content();
    }
  }

  .snow {
    &__navbar {
      @include variables.snow-navbar();
    }

    &__content {
      @include variables.snow-content();
    }

    &__footer {
      @include variables.snow-content();
    }
  }

  .mist {
    &__navbar {
      @include variables.mist-navbar();
    }

    &__content {
      @include variables.mist-content();
    }

    &__footer {
      @include variables.mist-content();
    }
  }

  .dust {
    &__navbar {
      @include variables.dust-navbar();
    }

    &__content {
      @include variables.dust-content();
    }

    &__footer {
      @include variables.dust-content();
    }
  }

  .clouds {
    &__navbar {
      @include variables.clouds-navbar();
    }

    &__content {
      @include variables.clouds-content();
    }

    &__footer {
      @include variables.clouds-content();
    }
  }

  .tornado {
    &__navbar {
      @include variables.tornado-navbar();
    }

    &__content {
      @include variables.tornado-content();
    }

    &__footer {
      @include variables.tornado-content();
    }
  }

  .clear {
    &__navbar {
      @include variables.clear-navbar();
    }

    &__content {
      @include variables.clear-content();
    }

    &__footer {
      @include variables.clear-content();
    }
  }

  .day {
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255 248 0) 0%, rgb(236 210 58) 15.9%, rgb(255, 163, 77) 15.9%, rgb(216 191 11 / 70%) 24.4%, rgb(26 131 198) 24.5%, rgb(15 142 223) 66%);
  }

  .night {
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255 248 0) 0%, rgb(234 215 101) 15.9%, rgb(243 204 75) 15.9%, rgb(238 221 103 / 70%) 24.4%, rgb(32 35 37) 24.5%, rgb(32 32 32) 66%);
  }
}
